/* Etilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #000;
    height: 100vh;
    padding-top: 200px; /* ajuste para altura real do header */
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: aqua;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover{
    box-shadow: 0px 0px 8px rgb(0, 161, 161);
    transform: scale(1.10);
}

form .btn-enviar input[type=submit]:hover{
    box-shadow: 0px 0px 8px rgb(0, 161, 161);
    transform: scale(1.10);
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: aqua;
}

p{
    text-align: justify;
}

/* Header */
header{
    padding: 20px 4%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 1000;
}



header > .interface{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a{
    font-size: 20px;
}

header nav.menu-desktop a:hover{
    color: #fff;
    transform: scale(1.10);
}

header nav ul{
    list-style-type: none;
    justify-content: space-between;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

/* Estilo do Menu Mobile */
.btn-abrir-menu{
    display: none;
}

.btn-abrir-menu i{
    color: aqua;
    font-size: 40px;
}

.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9; 
    width: 0%;
    overflow: hidden;
    transition: .3s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~.overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: aqua;
    font-size: 30px;

}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: aqua;
    color: #000;
}

.overlay-menu{
    background-color: #00000098;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    display: none;
}

/* Estilo do topo do site */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .txt-topo-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: aqua;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* Estilo Especialidades */
section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.10);
    box-shadow: 0 0 8px #ffffff6e;

}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: aqua;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
}

/* Estilo Sobre */
section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: aqua;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: aqua;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}
/* Estilo Portfólio */
section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff27;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 300px;
    height: 400px;
    background-color: aqua;
    background-size: cover;
    background-position: 100% 0%;
    transition: 5s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* Estilo formulário */
section.formulario{
    padding: 80px 4%;   
}

form{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea{
    width: 100%;
    background-color: #53535341;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 150px;
    height: 150px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit]{
    width: 120px;
    background-color: aqua;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

/* Etilo rodapé */
footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff27;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    margin: 10px 0px;
    border-bottom: 2px solid aqua;
    padding-bottom: 10px;
}
.borda{
    border-top: 2px solid aqua;
}

/*POP-UP*/

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.popup-box {
    background: #000;
    padding: 30px;
    border-radius: 10px;
    width: 330px;
    height: 110px;
    text-align: center;
    position: relative;
    z-index: 11;
    color: white;
    box-shadow: 0 0 30px 10px #ffffff27;
}

.close-btn {
    position: absolute;
    top: 3px;
    right: 10px;
    cursor: pointer;
    font-size: 35px;
}

.popup-box p span{
    color: aqua;
}

/* responsividade */
@media screen and (max-width: 1020px){
    /* Geral */
    .flex{
        flex-direction: column;
    }

    h2.titulo {
        font-size: 28px;
    }

    /* Header */
    .menu-desktop, .btn-contato{
        display: none;
    }

    .btn-abrir-menu {
        display: block;
    }

    /* topo do site */
    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site .txt-topo-site h1{
        font-size: 32px;
    }

    section.topo-do-site .flex{
        gap: 60px;
    }

    /* Especialidades */
    section.especialidades{
        padding: 20px 8%;
    }

    /* Sobre */
    .sobre img {
        display: none;
    }

    /* Portifolio */
    section.portfolio .flex .img-port{
        margin: 20px auto;
    }

    /* Footer */
    footer .flex{
        flex-direction: row;
    }

    footer .logo-footer{
        margin-top: 16px;
    }

}